<!DOCTYPE html>
<html>
<head>
    <title>Kontrol Paneli</title>
</head>
<body>
    <h2>Durum Paneli</h2>
    <ul>
        {% for key, value in state.items() %}
            <li><strong>{{ key }}</strong>: {{ value }}</li>
        {% endfor %}
    </ul>

    <h2>Değiştir</h2>
    <form action="/update" method="post">
        {% for key, value in state.items() %}
            {% if key not in ['sicaklik', 'isik'] %}
                <label>{{ key }}:</label><br>
                {% if value is boolean %}
                    <select name="{{ key }}">
                        <option value="true" {% if value %}selected{% endif %}>True</option>
                        <option value="false" {% if not value %}selected{% endif %}>False</option>
                    </select>
                {% else %}
                    <input type="number" name="{{ key }}" value="{{ value }}">
                {% endif %}
                <br><br>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Güncelle">
    </form>

    <br><a href="/logout">Çıkış</a>
</body>
</html>
